# === Database ===
DATABASE_DRIVER=pg
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=luxo
DATABASE_PASSWORD=luxo
DATABASE_PREFIX=luxo_studio
DATABASE_SSL=disable

# === Server ===
APP_PORT=9100
APP_HOST=0.0.0.0

# === Auth ===
JWT_SECRET=change-me-in-production
JWT_EXPIRES=7d

# === Deploy Mode ===
DEPLOY_MODE=embedded

# === Auto Migrate ===
AUTO_MIGRATE=true
